<mat-card *ngIf="auction">
  <mat-card-header>
    {{ auction.name | uppercase }}
  </mat-card-header>
  <mat-card-content>
    <div>
      <span>cena: {{auction.price}}</span>
    </div>
    <div>
      <span>opis: {{auction.description}}</span>
    </div>
    <div>
      <span>koniec sprzedazy: {{auction.deadline | date: 'dd/MM/yyyy'}}</span>
    </div>
  </mat-card-content>
  <img *ngIf="auction.imageId" src="api/image/{{auction.imageId}}" />
  <img *ngIf="!auction.imageId" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  <mat-card-actions>
    <button *ngIf="!auction.owner" mat-raised-button color="primary" (click)="buy()" class="btn btn-primary">Kup</button>
    <span *ngIf="auction.owner"> jestes wlascicielem produktu</span>
  </mat-card-actions>
</mat-card>
