<mat-card *ngIf="user">
  <mat-card-header>
    <label>Moje konto </label>
  </mat-card-header>
  <mat-card-content>
    <div>
      <div>
        <label>login: {{user.name}}</label>
      </div>
      <div>
        <label>punkty: {{user.points}}</label>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addAuction()">Dodaj oferte</button>
    <button mat-raised-button color="primary" (click)="openDialog()">Dodaj punkty</button>
  </mat-card-actions>
</mat-card>
