<div>
  <mat-card>
    <mat-toolbar color="primary">Nowa aukcja</mat-toolbar>
    <form name="form" (ngSubmit)="f.form.valid && add()" #f="ngForm" novalidate>
      <div>
        <mat-form-field>
          <input matInput placeholder="Nazwa" class="form-control" name="name"
                 [(ngModel)]="auctionDetail.name" #name="ngModel" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Cena" class="form-control" name="price" type="number"
                 [(ngModel)]="auctionDetail.price" #price="ngModel" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
        <textarea matInput placeholder="Opis" class="form-control" name="description"
                  matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
                  [(ngModel)]="auctionDetail.description" #description="ngModel" required></textarea>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Wybierz date zakonczenia" name="deadline"
                 [(ngModel)]="auctionDetail.deadline" #deadline="ngModel" required readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-slide-toggle name="buyNow" [(ngModel)]="auctionDetail.buyNow" #deadline="ngModel" required>
          Kup teraz
        </mat-slide-toggle>
      </div>
      <div fxLayout>
        <button mat-raised-button color="primary" [disabled]="loading" class="btn btn-primary">Dodaj
        </button>
        <mat-spinner *ngIf="loading" strokeWidth="3" [diameter]="30"></mat-spinner>
      </div>
    </form>
  </mat-card>
</div>
